@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1606619316258'); /* IE9 */
  src: url('iconfont.eot?t=1606619316258#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABmwAAAJqAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp4gQEBNgIkAwgLBgAEIAWEbQcvG6YFyJ6aPClCQaAYrG/iCQIA8fD/+33b5907JhJnTRLNahUPifSJJAhNS/NEiHj3TH5Ha20esyo6SHqxhpj2k9kT35u3iiRKgET1RKRKiNA+fii0zAMC8sz6eveJe6d/An2Q+c67HPeisSZNDDAOpAD3wijgQAok9IaxC17gfQL1hqUldjb3z6FDZi8LxAPLUKCjEJVlVqgVqhv25tZ4qkpt8bj4Bp5E349/ilFLoSqxW/Zvbeiw/DOcklQpK64DQoyADlchYRHIxHFjdlezYFyz+myLcXCsxuBnlGXgEUd1CvbX2fWNYBCqnkntaR5VsQCZ8YwC85POIFXXtl8txjQvan1VDbkFvc91V3r0evnxg0316dWXho+fRpM8jfVGvfj12X/28TPeHf83HqrhSXrkytVWl2eON4rtNgDKSu5PFXv4yfSefV8r/2sbMvjxp/AeaYb5qd2pL/g5HXkUkHu41s4WGR2dgcKo5pO21atHCQXb/U21dd1JMdTquh9/jaEMSa1JMrOLqNJgCdVqraPegq3DDTpIzSLXYd4tQGj1hEKzD0ha/ZCZ/UWVbg1Ua42EeqfRcWaD6bjbtS1JYdJRraGlBb5wvdwVN56SUXIVmddG/CXJ2EpgIZsvF7bIJ7nEhrhsFJkFChl4uAkeI9cNMJSBTRpnTeZwNpcTTS/KaoEHXbZJRMGIDqlqkEUT8IlgOOuqfP4UMZS4FLKjr658iUgxa3JUkJUfQG6Z/EF9j/JMrMxQxJiABCngQZtgFnG5AihsnmUjGpZlTkiHZuWcQWKoKbu9xfu7I1DPthfhTEmqHpqlGgEAAAAA') format('woff2'),
  url('iconfont.woff?t=1606619316258') format('woff'),
  url('iconfont.ttf?t=1606619316258') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1606619316258#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e601";
}

